<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      <h2>Enter the image path below:</h2>
      <br>
      <br>
      <form action="/plate/" method="get">
        <textarea name="text" placeholder="Enter the absolute image file path here" style="width: 100%; height: 50px;"></textarea>
    <br><br>
        <br>
        <br>
        <button type='submit' > Analyze image </button> 
      </form>

        <script src="" async defer></script>
    </body>
</html>